<html>

  <body>
    <div>

  
      <ul>
        <% @ratings.each do |rateing| %>
          <li>
            <a href="/ratings/<%= rateing.id %>">
              <%= "#{rateing.post_id}" %>
              <%= "#{rateing.rate}" %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
