<html>
  <%= render_partial "base/_head.html.erb" %>

  <body>
    <div>
      <h1><%= @title %></h1>


      <form action="/posts" method="POST">
        <div>
          <label for="post_name">The post's title</label>
          <input type="text" name="post[title]" id="post_title">
        </div>
        <input type="submit" name="commit" value="create">
      </form>
    </div>
  </body>
</html>
