<html>
  <%= render_partial "base/_head.html.erb" %>

  <body>
    <div>
      <h1><%= @title %></h1>
      <p>
        <a href="/posts">Back to the list</a>
      </p>

      <p>
        post #n <%= @post.id %>, title: <strong><%= @post.title %></strong>
      </p>
    </div>
  </body>
</html>
